apiVersion: v1
kind: Service
metadata:
  name: {{ include "zap-operator.fullname" . }}
  labels:
    {{- include "zap-operator.labels" . | nindent 4 }}
spec:
  ports:
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "zap-operator.selectorLabels" . | nindent 4 }}
