apiVersion: v1
kind: Service
metadata:
  name: {{ include "zap-operator.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "zap-operator.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  ports:
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    app.kubernetes.io/name: {{ include "zap-operator.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
