apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "chrony-exporter.fullname" . }}
  labels:
    {{- include "chrony-exporter.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "chrony-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "chrony-exporter.labels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      automountServiceAccountToken: false
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- toYaml .Values.args | nindent 12 }}
          ports:
            - name: metrics
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          volumeMounts:
            - mountPath: {{ .Values.hostPath.path }}
              name: chronyd-socket
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: chronyd-socket
          hostPath:
            path: {{ .Values.hostPath.path }}
            type: {{ .Values.hostPath.type }}
