apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "chrony-exporter.fullname" . }}
  labels:
    {{- include "chrony-exporter.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "chrony-exporter.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: metrics
      interval: 30s
      scrapeTimeout: 10s
      relabelings:
      - sourceLabels: [__meta_kubernetes_pod_node_name]
        targetLabel: nodename
