---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chrony-exporter.fullname" . }}
  labels:
    {{- include "chrony-exporter.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "chrony-exporter.selectorLabels" . | nindent 4 }}
