apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wireguard-operator.fullname" . }}-controller-manager
  labels:
    control-plane: controller-manager
  {{- include "wireguard-operator.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      control-plane: controller-manager
    {{- include "wireguard-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.annotations }}
      annotations: {{ toYaml . | nindent 8 }}
      {{- end }}
      labels:
        control-plane: controller-manager
      {{- include "wireguard-operator.selectorLabels" . | nindent 8 }}
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - args:
        - --zap-log-level={{ .Values.logLevel }}
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8080
        - --leader-elect
        - --agent-image={{ .Values.agentImage.repository }}:{{ .Values.agentImage.tag | default .Chart.AppVersion }}
        {{- range $key, $value := .Values.extraArgs }}
        {{- if kindIs "slice" $value }}
        {{- range $v := $value }}
        - --{{ $key }}={{ $v }}
        {{- end }}
        {{- else }}
        - --{{ $key }}={{ $value }}
        {{- end }}
        {{- end }}
        command:
        - /manager
        env:
        {{- with .Values.env }}
        {{ toYaml . }}
        {{- end }}
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.resources | nindent 10 }}
        {{- with .Values.securityContext }}
        securityContext: {{- toYaml . | nindent 10 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext: {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "wireguard-operator.serviceAccountName" . }}-controller-manager
      terminationGracePeriodSeconds: 10
      {{- with .Values.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
