{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "wireguard-operator.fullname" . }}-manager-role
  labels:
  {{- include "wireguard-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - vpn.wireguard-operator.io
  resources:
  - wireguardpeers
  - wireguards
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vpn.wireguard-operator.io
  resources:
  - wireguardpeers/finalizers
  - wireguards/finalizers
  verbs:
  - update
- apiGroups:
  - vpn.wireguard-operator.io
  resources:
  - wireguardpeers/status
  - wireguards/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "wireguard-operator.fullname" . }}-manager-rolebinding
  labels:
  {{- include "wireguard-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "wireguard-operator.fullname" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "wireguard-operator.serviceAccountName" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
{{- end }}
