{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "wireguard-operator.fullname" . }}-controller-manager-metrics-monitor
  labels:
    control-plane: controller-manager
    {{- include "wireguard-operator.labels" . | nindent 4 }}
  {{- with .Values.serviceMonitor.annotations }}
  annotations:
{{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  endpoints:
    - path: /metrics
      port: metrics
      scheme: http
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      {{- with .Values.serviceMonitor.interval }}
      interval: {{ . }}
      {{- end }}
      {{- with .Values.serviceMonitor.scrapeTimeout }}
      scrapeTimeout: {{ . }}
      {{- end }}
      {{- with .Values.serviceMonitor.relabelings }}
      relabelings:
{{- toYaml . | nindent 8 }}
      {{- end }}
  selector:
    matchLabels:
      control-plane: controller-manager
      {{- include "wireguard-operator.selectorLabels" . | nindent 6 }}
{{- end }}
