apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: zapscans.spaceship.com
spec:
  group: spaceship.com
  names:
    kind: ZapScan
    listKind: ZapScanList
    plural: zapscans
    singular: zapscan
    shortNames:
      - zaps
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - target
              properties:
                target:
                  type: string
                openapi:
                  type: string
                jobNamespace:
                  type: string
                serviceAccountName:
                  type: string
                image:
                  type: string
                args:
                  type: array
                  items:
                    type: string
                cleanup:
                  type: boolean
            status:
              type: object
              properties:
                phase:
                  type: string
                jobName:
                  type: string
                startedAt:
                  type: string
                  format: date-time
                finishedAt:
                  type: string
                  format: date-time
                alertsFound:
                  type: integer
                  format: int64
                lastError:
                  type: string
