apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: zapscheduledscans.spaceship.com
spec:
  group: spaceship.com
  names:
    kind: ZapScheduledScan
    listKind: ZapScheduledScanList
    plural: zapscheduledscans
    singular: zapscheduledscan
    shortNames:
      - zapsched
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - schedule
                - template
              properties:
                schedule:
                  type: string
                template:
                  type: object
                  required:
                    - target
                  properties:
                    target:
                      type: string
                    openapi:
                      type: string
                    jobNamespace:
                      type: string
                    serviceAccountName:
                      type: string
                    image:
                      type: string
                    args:
                      type: array
                      items:
                        type: string
                    cleanup:
                      type: boolean
                suspend:
                  type: boolean
                concurrencyPolicy:
                  type: string
                  enum:
                    - Allow
                    - Forbid
                    - Replace
            status:
              type: object
              properties:
                lastScheduleTime:
                  type: string
                  format: date-time
                active:
                  type: array
                  items:
                    type: string
